<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styleHome.css">
    <script src="static/js/appHome.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Web App </h1>  
    <div>
        <img src="https://j.gifs.com/9rQ8KY.gif"> <br> <br>
        <button onclick="register_page()"> Register Page </button>
        <button onclick="consult_page()"> Consult Page </button>
    </div>      
</body>
</html>